* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #042331;
  overflow-x: hidden;
}

.title {
  color: whitesmoke;
  text-align: center;
  height: 24px;
  background-color: #042331;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: .4s;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: darkgray;
  color: whitesmoke;
  padding-left: 25px;
}

.sidenavlinks {
  height: 15%;
  width: 200px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: #042331;
  overflow-x: hidden;
}

.sidenavlinks a:hover {
  background-color: darkgray;
  color: whitesmoke;
  padding-left: 25px;
}

.sidenavlinks a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  transition: .4s;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
  color: black;
  text-align: center;
  border-bottom: 2px solid rgb(151, 151, 151);
  
}
/* Authors */
.authors {
    margin-left: 0px;
    color: black;
    font-weight: 600;
  }

/* Footer */
.footer {
    border-top: 1px solid rgb(151, 151, 151);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #e7e7e7;
    color: black;
    text-align: left;
    margin-left: 200px;
    padding-left: 20px;
  }
.footer-text {
    font-size: 22px;
}

.form {
  display: inline-block;
  padding: 15px;
  text-align: center;
}

.php {
  margin: auto;
  margin-left: 400px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 8px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0px; /* Add a top margin */
  margin-bottom: 8px; /* Bottom margin */
}

input[type=number], select, textarea {
  width: 100%; /* Full width */
  padding: 8px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0px; /* Add a top margin */
  margin-bottom: 8px; /* Bottom margin */
}

input[type=date], select, textarea {
  width: 100%; /* Full width */
  padding: 8px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0px; /* Add a top margin */
  margin-bottom: 8px; /* Bottom margin */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-bottom: 10px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #31c239;
  padding-bottom: 10px;
  transition: .4s;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.label {
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  clear: both;
 }